{% extends 'base.html.twig' %}

{% block title %}Hello TaskManagerController!{% endblock %}

{% block body %}
<h1><i class="fa-solid fa-list-check"></i>TaskManager</h1>
<div class="add-div">

    {{ form_start(form, {'attr': {'class': 'form_task'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

</div>

<div class="task_list">
    <ul>
   
        {#{% for task in list_task %}
            <li>{{task}}</li>
            {% else %}
            <li>No tasks found</li>
        {% endfor %}#}
    </ul>
</div>

</div>


{% endblock %}

